services:
    fc5.json_controller:
        class: AdminBundle\Controller\JsonController
        calls:
            - [setContainer, ['@service_container']]

    fc5.entities_order:
        class: AdminBundle\Service\EntitiesOrder

    fc5.paginator:
        class: AdminBundle\Service\Paginator

    fc5.entities_list_handler:
        class: AdminBundle\Service\EntitiesListHandler
        arguments:
          - '@doctrine.orm.entity_manager'
          - '@fc5.entities_order'
          - '@fc5.paginator'
          - '@fc5.json_controller'
          - '@request_stack'

    fc5.ultimateTeamApi:
        class: AdminBundle\Service\UltimateTeamApi
        arguments:
            - '@service_container'
            - '@doctrine'

    fc5.SimpleStats:
        class: AdminBundle\Service\SimpleStats
#
#    fc5.loadDataFixture:
#        class: AdminBundle\DataFixtures\ClubFixtures
#        tags: [doctrine.fixture.orm]
#
#    fc5.loadPlayerFixture:
#        class: AdminBundle\DataFixtures\PlayerFixtures
#        tags: [doctrine.fixture.orm]
#        arguments:
#            - '%kernel.root_dir%'
#            - '@fc5.ultimateTeamApi'
#
#    fc5.loadBlazonFixture:
#        class: AdminBundle\DataFixtures\BlazonFixtures
#        tags: [doctrine.fixture.orm]

    fc5.storeFixture:
        class: AdminBundle\DataFixtures\StoreFixtures
        tags: [doctrine.fixture.orm]
